<!-- control_led.html en tus plantillas Django -->
<!DOCTYPE html>
<html>
<head>
    <title>Control Cortina</title>
</head>
<body>
    <center><h1>Control cortina</h1></center>
    <form action="{% url 'encender_led' %}" method="post">
        {% csrf_token %}
        <center><input type="submit" value="Subir cortina"></center>
    </form>
    <br>
    <form action="{% url 'apagar_led' %}" method="post">
        {% csrf_token %}
        <center><input type="submit" value="Bajar cortina"></center>
    </form>
        <br>
    <form action="{% url 'apagar_motor' %}" method="post">
        {% csrf_token %}
        <center><input type="submit" value="Apagar"></center>
    </form>
    <br>
    <hr>
    <br>

   <center> <a href="">
        <img src="https://i.ibb.co/L6rvZ53/20231129-103608.jpg" alt="20231129-103608" border="0"></a></center>

{#    <a href="{% url 'salir' %}">Cerrar Sesión</a>#}
</body>
</html>
